<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<br>
<p><%= link_to "Add a review", new_restaurant_review_path(@restaurant), :class=>"btn btn-danger" %></p>

<p><%= link_to "Back to restaurants", restaurants_path(@restaurant), :class=>"btn btn-danger" %></p>
<br>

<hr>
<h2> Reviews</h2>

<lu>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %>
  <%= review.rating %></p>
<% end %>
</lu >

